# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [8]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [43]:
# a = 
a = pd.Series([100, 200, 300, 400])

Print a, and data type

In [10]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [11]:
print(a[2])

300

What are the values of index for series a?

In [12]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [13]:
a.index = ['c', 'a', 'b', 'd']
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [14]:
print(a['d'])

400

Sort the values wrt to the index and print it

In [15]:
print(a.sort_index())

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [16]:
# b = 
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [45]:
# a =
a = pd.concat([a, b])
print(a)

0    100
1    200
2    300
3    400
e    800
f    450
g    100
dtype: int64

In [18]:
#print a again after appending b into it
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [19]:
# a = 
a = a.sort_values(ascending=False)
print(a)
print(a.index)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64
Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [20]:
# df = 
df = pd.DataFrame(a, columns=['points'])
print(df)

   points
e     800
f     450
d     400
b     300
a     200
c     100
g     100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [21]:
print(df.shape)

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [22]:
# yep its same as the series.
print(df.index)

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [23]:
print(df.head())        # First 5 rows
print(df.tail())        # Last  5 rows

   points
e     800
f     450
d     400
b     300
a     200
   points
d     400
b     300
a     200
c     100
g     100

Rename the column of the dataframe as 'points'

In [24]:
df.rename(columns={0: 'points'}, inplace=True)

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [25]:
#Create fruits array
# fruits =
fruits = pd.Series(np.random.choice(['orange', 'mango', 'apple'], 7), index=df.index)
print(fruits)

e     apple
f     mango
d     apple
b     mango
a     apple
c     mango
g    orange
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [26]:
df['fruits'] = fruits
print(df.head())

   points fruits
e     800  apple
f     450  mango
d     400  apple
b     300  mango
a     200  apple

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [27]:
# d1 = 
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 
                   'Temperature': [15, 22, 20, 26, -2]})

Print(d1)

In [28]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [29]:
print(d1.shape)

(5, 2)

Set city = d1['city']

In [30]:
city = d1['city']

print city <br>
What is the type of city.

In [31]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [32]:
# d2 = 
d2 = pd.DataFrame({'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
                   'Tempreature': [24, 35, 36, 39]})
print(d2)

          city  Tempreature
0    Bengaluru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [33]:
print(d2.shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [34]:
# d3 = 
d3 = pd.concat([d1, d2], ignore_index=True)
print(d3)

          city  Temperature  Tempreature
0   Chandigarh         15.0          NaN
1        Delhi         22.0          NaN
2       Kanpur         20.0          NaN
3      Chennai         26.0          NaN
4       Manali         -2.0          NaN
5    Bengaluru          NaN         24.0
6   Coimbatore          NaN         35.0
7    Srirangam          NaN         36.0
8  Pondicherry          NaN         39.0

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [35]:
print(d3[d3['Tempreature'] <= 20])

Empty DataFrame
Columns: [city, Temperature, Tempreature]
Index: []

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [36]:
print(d3[d3['Tempreature'] >= 35])

          city  Temperature  Tempreature
6   Coimbatore          NaN         35.0
7    Srirangam          NaN         36.0
8  Pondicherry          NaN         39.0

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [47]:
# write function here

# def is_ut(x):
    
#     # write code below
    
# d3['is_ut'] = 
def is_ut(city):
    return city in ['Chandigarh', 'Pondicherry', 'Delhi']

d3['is_ut'] = d3['city'].apply(is_ut)

In [46]:
# print d3
print(d3)

          city  Temperature  Tempreature
0   Chandigarh         15.0          NaN
1        Delhi         22.0          NaN
2       Kanpur         20.0          NaN
3      Chennai         26.0          NaN
4       Manali         -2.0          NaN
5    Bengaluru          NaN         24.0
6   Coimbatore          NaN         35.0
7    Srirangam          NaN         36.0
8  Pondicherry          NaN         39.0

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [50]:
# write function here
def c_to_f(temp):
    return (temp * 9/5) + 32

In [40]:
# check function c_to_f(10)
print(c_to_f(10))

50.0

In [51]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 
                   'Temperature': [15, 22, 20, 26, -2]})

d3['temp_fahrenheit'] = d3['Temperature'].apply(c_to_f)
print(d3)

         city  Temperature  temp_fahrenheit
0  Chandigarh           15             59.0
1       Delhi           22             71.6
2      Kanpur           20             68.0
3     Chennai           26             78.8
4      Manali           -2             28.4

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [54]:
union_territories = ['Chandigarh', 'Delhi', 'Pondicherry']
subset_ut = d1[d1['city'].isin(union_territories)]
print(subset_ut)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [55]:
subset_above_90f = d1[d1['Temperature'].apply(c_to_f) > 90]
print(subset_above_90f)

Empty DataFrame
Columns: [city, Temperature]
Index: []

Select only the first three rows of the dataframe d1.

In [56]:
first_three_rows = d1.iloc[:3]
print(first_three_rows)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [57]:
last_two_columns = d1.iloc[:, -2:]
print(last_two_columns)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

## Groupby

In [58]:
# Create a dataframe using dictionary of your choice

data = pd.DataFrame({'category': ['A', 'B', 'A', 'B', 'C', 'C'], 'values': [10, 20, 30, 40, 50, 60], 'scores': [100, 200, 150, 300, 400, 250]})
print(data)

  category  values  scores
0        A      10     100
1        B      20     200
2        A      30     150
3        B      40     300
4        C      50     400
5        C      60     250

In [60]:
# Use Groupby of single column with aggregate sum()
group_sum = data.groupby('category') ['values'].sum()
print(group_sum)

category
A     40
B     60
C    110
Name: values, dtype: int64

In [61]:
# Use Groupby of single column with aggregate count()
group_count = data.groupby('category') ['values'].count()
print(group_count)

category
A    2
B    2
C    2
Name: values, dtype: int64

In [63]:
# Use Groupby of single column with aggregate min() and max()
group_min_max = data.groupby('category') ['values'].agg(['min', 'max'])
print(group_min_max)

          min  max
category
A          10   30
B          20   40
C          50   60

In [65]:
# Use Groupby of any 2 columns with aggregate mean()
group_mean = data.groupby(['category', 'scores']) ['values'].mean()
print(group_mean)

category  scores
A         100       10.0
          150       30.0
B         200       20.0
          300       40.0
C         250       60.0
          400       50.0
Name: values, dtype: float64

In [66]:
# Use Groupby of any 2 columns with aggregate min() and max()
group_min_max_two = data.groupby(['category', 'scores']) ['values'].agg(['min', 'max'])
print(group_min_max_two)

                 min  max
category scores
A        100      10   10
         150      30   30
B        200      20   20
         300      40   40
C        250      60   60
         400      50   50

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [67]:
# a = 
a = pd.date_range(start='2020-01-01', end='2021-04-01')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

print a

In [68]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [69]:
print(len(a))

457

What is the type of a?

In [70]:
print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>