<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [135]:
# create empty list, name it 'a'
a = []

In [136]:
# print the value of a
print("value of a:", type(a))

value of a: <class 'list'>

In [137]:
# print the type of a
print("type of a:", type(a))

type of a: <class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [138]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
a.extend([10, 20, 30, 40, 50])
print("updated list a:", a)

updated list a: [10, 20, 30, 40, 50]

Print the number of elements in the list

In [139]:
print("number of elements in the list:", len(languages))
print("4th element of a:", a[3])

number of elements in the list: 5
4th element of a: 40

Using for loop iterate and print all the elements in the list

In [140]:
for i in a:
    print(i)

a.insert(2, 25)
print("list after inserting 25 at 3rd position:", a)

10
20
30
40
50
list after inserting 25 at 3rd position: [10, 20, 25, 30, 40, 50]

Select the second item, 'Python' and store it in a new variable named 'temp'

In [141]:
temp = languages[1]

Print the value of temp and type(temp)

In [142]:
print("value of temp:", temp)
print("type of temp:", type(temp))

value of temp: Python
type of temp: <class 'str'>

Append the element 'Java' in the list

In [143]:
languages.append('java')
print("list after appending 'java':", languages)

list after appending 'java': ['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [144]:
languages.remove(42)
print("list after removing 42:", languages)

list after removing 42: ['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [145]:
colors = ['red', 'blue', 'white']

Append the element 'Black' to colors

In [146]:
colors.append('black')
print("list after appending 'black':", colors)

list after appending 'black': ['red', 'blue', 'white', 'black']

Append the color 'Orange' to second position (index=1) and print the list

In [147]:
colors.insert(1, 'orange')

Print the list

In [148]:
print("list after inserting 'orange' at index 1:", colors)

list after inserting 'orange' at index 1: ['red', 'orange', 'blue', 'white', 'black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [149]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [150]:
colors.extend(colors2)

Print len of colors and its elements

In [151]:
print("List after extending with colors2:", colors)
print("Length of colors:", len(colors))

List after extending with colors2: ['red', 'orange', 'blue', 'white', 'black', 'Grey', 'Sky Blue']
Length of colors: 7

Sort the list and print it.

In [152]:
colors.sort()
print("Sorted list:", colors)

Sorted list: ['Grey', 'Sky Blue', 'black', 'blue', 'orange', 'red', 'white']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [153]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [154]:
words = sent.split()
print("List of words:", words)

List of words: ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [155]:
words_lower = [word.lower() for word in words]
print("Lowercase words:", words_lower)

Lowercase words: ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [156]:
print("Is 'country' in the list?", 'country' in words_lower)

Is 'country' in the list? False

Remove the element ‘the’ from the list and print the list.

In [157]:
words_lower.remove('the')
print("List after removing 'the':", words_lower)

List after removing 'the': ['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [158]:
x4 = words_lower[:4]

In [159]:
# print x4
print("First 4 words:", x4)

First 4 words: ['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [160]:
single_string = ' '.join(words_lower)
print("Single string:", single_string)

Single string: coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [161]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [162]:
print("Length of stud_grades:", len(stud_grades))

Length of stud_grades: 6

Create a new variable, stud_grades_set = set(stud_grades)

In [163]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [164]:
print("Set of grades:", stud_grades_set)

Set of grades: {'F', 'C', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [165]:
print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>

Add a new element ‘G’ to stud_grades_set

In [166]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [167]:
stud_grades_set.add('F')
print("Updated set:", stud_grades_set)

Updated set: {'C', 'A', 'B', 'G', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [168]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [169]:
print("Set after removing 'F':", stud_grades_set)
print("Length of set:", len(stud_grades_set))

Set after removing 'F': {'C', 'A', 'B', 'G'}
Length of set: 4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [170]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [171]:
print("Colors:", colors)
print("Fruits:", fruits)

Colors: ['red', 'blue', 'orange']
Fruits: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [172]:
colors_set = set(colors)
fruits_set = set(fruits)
print("Colors set:", colors_set)
print("Fruits set:", fruits_set)

Colors set: {'orange', 'red', 'blue'}
Fruits set: {'orange', 'apples', 'grapes'}

Find the union of both the sets.

In [173]:
print("Union:", colors_set.union(fruits_set))

Union: {'orange', 'apples', 'red', 'grapes', 'blue'}

Find the intersection of both the sets

In [174]:
print("Intersection:", colors_set.intersection(fruits_set))

Intersection: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [175]:
print("Fruits but not colors:", fruits_set.difference(colors_set))

Fruits but not colors: {'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [176]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [177]:
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [178]:
temp[0] = 11

Set temp1 = tuple(temp)

In [179]:
temp1 = tuple(temp)
print("Tuple temp1:", temp1)

Tuple temp1: (11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [180]:
for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [181]:
try:
    temp1[0] = 17
except TypeError as e:
    print("Error:", e)
    print("Tuples are immutable, so you cannot change their elements once created.")

Error: 'tuple' object does not support item assignment
Tuples are immutable, so you cannot change their elements once created.

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [182]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [183]:
print("First element of city:", city[0])

First element of city: Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [184]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [185]:
cities = (city, city2)

Print cities

In [186]:
print("Nested tuple cities:", cities)

Nested tuple cities: (('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [187]:
print("Type of first element:", type(cities[0]))

Type of first element: <class 'tuple'>

print the type of cities

In [188]:
print("Type of cities:", type(cities))

Type of cities: <class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [189]:
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12]}

Print the value of d[0]

In [190]:
try:
    print(d[0])
except KeyError as e:
    print("Error:", e)
    print("Dictionaries return values for keys. The key '0' does not exist here.")

Error: 0
Dictionaries return values for keys. The key '0' does not exist here.

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [191]:
actor = d['actor']

Print the type of actor

In [192]:
print("Value of actor:", actor)
print("Type of actor:", type(actor))

Value of actor: amir
Type of actor: <class 'str'>

Store the value of d[‘list’] in new variable List.

In [193]:
List = d['list']

Print the type of List.

In [194]:
print("Value of List:", List)
print("Type of List:", type(List))

Value of List: [23, 32, 12]
Type of List: <class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [195]:
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [196]:
d.update(d1)

print d

In [197]:
print("Merged dictionary:", d)

Merged dictionary: {'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [198]:
print("Keys:", d.keys())

Keys: dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [199]:
print("Values:", d.values())

Values: dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [200]:
for key, value in d.items():
    print(f"{key} ----> {value}")

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [201]:
char_count = {}
for char in sent:
    char_count[char] = char_count.get(char, 0) + 1
print("Character count:", char_count)

Character count: {'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}